.basement {
  background-color: $bg-color-second;
}

.basement__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: calc(#{$desktop} - 1px)) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
