.contact-set {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.contact:not(:last-child) {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contact:last-child {
  @media screen and (max-width: calc(#{$tablet} - 1px)) {
    margin-bottom: 64px;
  }
}

.contact__link {
  @extend %link;
  padding-top: 0;
  padding-bottom: 0;
  color: $text-color;

  &:hover,
  &:focus {
    color: $accent;
  }

  @media screen and (max-width: calc(#{$tablet} - 1px)) {
    font-size: 24px;
    line-height: 1.17;
    &:hover,
    &:focus {
      font-size: 34px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.contact__icon {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
  }
}
