.section-intro {
  text-align: center;
  letter-spacing: 0.06em;
  background-color: $bg-color-second;
  background-position: center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg/hero-bg-480.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg/hero-bg-960.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg/hero-bg-768.jpg);
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/bg/hero-bg-1536.jpg);
      }
    }
  }

  @media screen and (min-width: $desktop) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg/hero-bg-1600.jpg);
      max-width: 1600px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/bg/hero-bg-3200.jpg);
      }
    }
  }
}

.section-intro__container {
  padding: 118px 0;

  @media screen and (min-width: $desktop) {
    padding: 200px 0;
  }
}

.section-intro__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-transform: uppercase;

  color: $color-main;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
  }
}

.btn-order {
  @extend .btn;
  padding: 10px;
  min-width: 200px;
}
