.features-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.feature {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
    max-width: calc((100% - 30px) / 2);
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 100%;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.feature__text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $title-color;
  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}

.feature__description {
  line-height: 1.71;

  color: $text-color;
}

.feature__icon {
  width: inherit;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  border-radius: 4px;

  background-color: $bg-color-addition;
  fill: $title-color;
}
