%flex-v-center {
  display: flex;
  align-items: center;
}

%link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-color;
  transition: color $time-duration $cubic-func;
}
