$color-main: #fff;

$bg-color-second: #2f303a;
$bg-color-addition: #f5f4fa;

$border-color: #eeeeee;
$border-color-second: #ececec;

$text-color: #757575;
$title-color: #212121;
$text-address-link: rgba(255, 255, 255, 0.6);

$accent: #2196f3;

$icons-color: #afb1b8;

$time-duration: 250ms;
$cubic-func: cubic-bezier(0.4, 0, 0.2, 1);

$font-main: "Roboto", sans-serif;
$font-addition: "Raleway", sans-serif;
