.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;

  padding: 15px;

  @extend %flex-v-center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: opacity $time-duration $cubic-func,
    transform $time-duration $cubic-func, visibility $time-duration $cubic-func;
}

.modal {
  position: relative;
  overflow: auto;
  max-width: 450px;
  max-height: 100%;

  background-color: $color-main;
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    & {
      max-width: 528px;
      width: 100%;
    }
  }
}
